<div id = "navbar">
      <nav class="innernav">
        <ul>
           <li><a href="/logout">Sign-Out </a></li>
           <li><a href="/mytrips">My Trips</a></li>
           <li><a href="#">Cart</a></li>
        </ul>
      </nav>
</div>
