<nav id ="sidebar">
        <ul>
           <li><a class="active" href="/">Home</a></li>
           <li><a href="/adventures">Adventures</a></li>
           <li><a href="#">Events</a></li>
           <li><a href="/about">About</a></li>
		   <li><a href="/contact">Contact Us</a></li>
        </ul>
 </nav>
