<div id = "navbar">
      <nav class="innernav">
        <ul>
           <li><a href="/login">Sign-in </a></li>
           <li><a href="/login">My Trips</a></li>
           <li><a href="#">Cart</a></li>
        </ul>
      </nav>
</div>
